In [51]:
# Import libraries
import requests
import pandas as pd
import json

from bs4 import BeautifulSoup

In [6]:
# Make the request
r = requests.get('https://www.topuniversities.com/sites/default/files/qs-rankings-data/357051.txt?_=1508079297350')
json_result = r.json()

In [52]:
#Building the dataFrame
df = pd.DataFrame(columns = ['Rank','Name','Country','Region'])#,'FacultyMemberInt','FacultyMemberTot','StudentInt','StudentTot'])

nb = 0
for i in json_result.keys():
    for x in json_result[i]:
        
        if nb == 200:
            break
        
        nb = nb + 1
        current_uni = [x['rank_display'],x['title'],x['country'],x['region']]
        df.loc[len(df)]= current_uni
        

display(df)

,Rank,Name,Country,Region
0,1,Massachusetts Institute of Technology (MIT),United States,North America
1,2,Stanford University,United States,North America
2,3,Harvard University,United States,North America
3,4,California Institute of Technology (Caltech),United States,North America
4,5,University of Cambridge,United Kingdom,Europe
5,6,University of Oxford,United Kingdom,Europe
6,7,UCL (University College London),United Kingdom,Europe
7,8,Imperial College London,United Kingdom,Europe
8,9,University of Chicago,United States,North America
9,10,ETH Zurich - Swiss Federal Institute of Techno...,Switzerland,Europe
10,11,"Nanyang Technological University, Singapore (NTU)",Singapore,Asia
11,12,Ecole Polytechnique Fédérale de Lausanne (EPFL),Switzerland,Europe
12,13,Princeton University,United States,North America
13,14,Cornell University,United States,North America
14,15,National University of Singapore (NUS),Singapore,Asia
15,16,Yale University,United States,North America
16,17,Johns Hopkins University,United States,North America
17,18,Columbia University,United States,North America
18,19,University of Pennsylvania,United States,North America
19,20,The Australian National University,Australia,Oceania
20,=21,Duke University,United States,North America
21,=21,University of Michigan,United States,North America
22,=23,King's College London,United Kingdom,Europe
23,=23,The University of Edinburgh,United Kingdom,Europe
24,25,Tsinghua University,China,Asia
25,26,The University of Hong Kong,Hong Kong,Asia
26,27,"University of California, Berkeley (UCB)",United States,North America
27,=28,Northwestern University,United States,North America
28,=28,The University of Tokyo,Japan,Asia
29,30,The Hong Kong University of Science and Techno...,Hong Kong,Asia
...,...,...,...,...
170,171,Albert-Ludwigs-Universitaet Freiburg,Germany,Europe
171,172,Indian Institute of Technology Delhi (IITD),India,Asia
172,=173,University of Virginia,United States,North America
173,=173,King Fahd University of Petroleum & Minerals,Saudi Arabia,Asia
174,=173,University of Liverpool,United Kingdom,Europe
175,176,University of Technology Sydney,Australia,Oceania
176,177,CentraleSupélec,France,Europe
177,178,University of Florida,United States,North America
178,=179,University of Twente,Netherlands,Europe
179,=179,Indian Institute of Technology Bombay (IITB),India,Asia
180,181,University of Göttingen,Germany,Europe
181,=182,Vrije Universiteit Brussel (VUB),Belgium,Europe
182,=182,Universidade Estadual de Campinas (Unicamp),Brazil,Latin America
183,=182,University of Colorado Boulder,United States,North America
184,=182,Vienna University of Technology,Austria,Europe
185,186,University of Rochester,United States,North America
186,187,Universidad Autónoma de Madrid,Spain,Europe
187,=188,Alma Mater Studiorum - University of Bologna,Italy,Europe
188,=188,University of Reading,United Kingdom,Europe
189,190,Indian Institute of Science (IISc) Bangalore,India,Asia
190,191,University of Cape Town,South Africa,Africa
191,=192,Keio University CEMS MIM,Japan,Asia
192,=192,Scuola Normale Superiore di Pisa,Italy,Europe
193,=192,Scuola Superiore Sant'Anna Pisa di Studi Unive...,Italy,Europe
194,=195,Texas A&M University,United States,North America
195,=195,Stockholm University,Sweden,Europe
196,=195,Universitat Autònoma de Barcelona,Spain,Europe
197,199,Instituto Tecnológico y de Estudios Superiores...,Mexico,Latin America
198,200,Maastricht University,Netherlands,Europe
199,201,Universidad de Chile,Chile,Latin America

In [ ]:
r = requests.get('https://www.topuniversities.com/universities/massachusetts-institute-technology-mit#wurs')