In [91]:
DATA_FOLDER = '../../../ADA2017-Tutorials/02 - Intro to Pandas/Data/'

## TASK 1: EBOLA DATA

In [92]:
EBOLA_FOLDER = DATA_FOLDER+'ebola/'

guinea = EBOLA_FOLDER+'guinea_data/'
liberia = EBOLA_FOLDER+'liberia_data/'
sl = EBOLA_FOLDER+'sl_data' #Sierra Leone

In [93]:
import pandas as pd
import os.path

In [94]:
def loadAllFile(FolderPath):
    data = pd.DataFrame()
    for f in os.listdir(FolderPath):
        file_path = os.path.join(FolderPath, f)
        file_data = pd.read_csv(file_path)
        data = data.append(file_data, ignore_index=True)
    return data

### Guinea

In [95]:
data_guinea = loadAllFile(guinea)
data_guinea.shape

(714, 25)

In [96]:
data_guinea.columns

Index(['Beyla', 'Boffa', 'Conakry', 'Coyah', 'Dabola', 'Dalaba', 'Date',
       'Description', 'Dinguiraye', 'Dubreka', 'Forecariah', 'Gueckedou',
       'Kerouane', 'Kindia', 'Kissidougou', 'Kouroussa', 'Lola', 'Macenta',
       'Mzerekore', 'Nzerekore', 'Pita', 'Siguiri', 'Telimele', 'Totals',
       'Yomou'],
      dtype='object')

In [97]:
#We can verify exactitude of totals value by doing agg over city values, First we assume that totals is correct
#To answer the question, we only need colomns : Date, Description, Totals. So we are Selecting those colomns.
data_guinea = data_guinea[['Date','Description','Totals']]

data_guinea.dropna(axis=0, how='any', inplace=True) #Drop rows where any of the elements are nan

In [98]:
data_guinea.Date.unique()

array(['2014-08-04', '2014-08-26', '2014-08-27', '2014-08-30',
       '2014-08-31', '2014-09-02', '2014-09-04', '2014-09-07',
       '2014-09-08', '2014-09-09', '2014-09-11', '2014-09-14',
       '2014-09-16', '2014-09-17', '2014-09-19', '2014-09-21',
       '2014-09-22', '2014-09-23', '2014-09-24', '2014-09-26',
       '2014-09-30', '2014-10-01'], dtype=object)

In [99]:
data_guinea.Totals.unique()

array([5, 0, 4, 9, 11, 133, 351, 495, 2, 228, 363, 31, 18, 13, 138, 89,
       161, 190, 52, 81, 7, 6, 220, 277, 21, 12, 8, 6309, 795, 5513, 772,
       785, 1235, '18', '10', '28', '30', '141', '490', '661', '518', '5',
       '2', '292', '958', '66%', '0', '45', '26', '22', '87', '6', '997',
       '137', '7521', '1085', '1070', '6438', '9', '55', '1700', '12',
       '142', '499', '663', '294', '438', '80', '14', '999', '127', '7662',
       '1264', '1250', '6496', '58', '1719', '15', '24', '32', '533',
       '707', '560', '324', '468', '50', '82', '33', '1094', '21', '7734',
       '1251', '1173', '6504', '76', '41', '1858', '8', '29', '46', '36',
       '150', '563', '749', '642', '3', '337', '489', '65%', '99', '1113',
       '83', '1941', '11', '25', '49', '591', '790', '349', '501', '63%',
       '105', '1144', '8189', '1842', '1641', '31', '2018', '13', '17',
       '51', '151', '621', '823', '682', '368', '522', '61%', '103',
       '1191', '8746', '1978', '1707', '6797', '249', '16', '678', '861',
       '714', '4', '402', '557', '54', '102', '1256', '8840', '2162',
       '1868', '6851', '2236', '7', '683', '867', '747', '410', '565',
       '52', '92', '1272', '1', '9006', '2283', '2043', '6896', '38',
       '2274', '716', '899', '413', '568', '57', '108', '1244', '172',
       '9378', '2453', '2136', '6904', '47', '2333', '162', '743', '936',
       '787', '429', '595', '64%', '61', '84', '1294', '27', '9553',
       '2472', '2145', '7066', '48', '2373', '161', '771', '964', '442',
       '608', '66', '1348', '53', '10082', '2433', '2372', '7642', '2489',
       '788', '974', '838', '463', '630', '35', '1379', '182', '10383',
       '2346', '2267', '8036', '2505', '818', '1008', '465', '632', '67',
       '69', '1405', '10532', '2380', '2249', '8055', '2596', '19', '832',
       '1022', '635', '62%', '1418', '10561', '2364', '2307', '8100',
       '2609', '854', '1048', '476', '643', '1465', '64', '10591', '2362',
       '2004', '8132', '2665', '20', '876', '1074', '481', '648', '60%',
       '93', '1478', '297', '10885', '2295', '1967', '8480', '2710', '169',
       '902', '1103', '494', '668', '1500', '11404', '2656', '2598',
       '8747', '2760', '175', '961', '1169', '951', '539', '112', '1548',
       '11719', '2657', '2615', '9021', '2807', '34', '177', '977', '1199',
       '562', '739', '114', '1576', '11772', '2661', '2595', '9110', '2832'], dtype=object)

In [100]:
data_guinea.Description.unique()

array(['New cases of suspects', 'New cases of probables',
       'New cases of confirmed', 'Total new cases registered so far',
       'Total cases of suspects', 'Total cases of probables',
       'Total cases of confirmed',
       'Cumulative (confirmed + probable + suspects)',
       'New deaths registered today',
       'New deaths registered today (confirmed)',
       'New deaths registered today (probables)',
       'New deaths registered today (suspects)',
       'Total deaths of suspects', 'Total deaths of probables',
       'Total deaths of confirmed',
       'Total deaths (confirmed + probables + suspects)',
       'Total PEC center today', 'Total PEC center today (confirmed)',
       'Total PEC center today (probables)',
       'Total PEC center today (suspects)',
       'Total of deaths in confirmed cases in CTE',
       'Total of cured in confirmed cases in CTE',
       'Number of male confirmed cases',
       'Number of female confirmed cases',
       'Number of male probables cases',
       'Number of female probables cases', 'Number of male suspects cases',
       'Number of female suspects cases', 'Total number of male cases',
       'Total number of female cases',
       'Number of confirmed cases among health workers',
       'Number of deaths of confirmed cases among health workers',
       'Number of probables cases among health workers',
       'Number of deaths of probables cases among health workers',
       'Number of suspects cases among health workers',
       'Number of death of confirmed cases among health workers',
       'Total contacts registered from start date',
       'Number of contacts to follow today',
       'Number of contacts out of track',
       'Number of contacts followed yesterday',
       'Number of patients tested', 'Number of samples collected',
       'Total suspected non-class cases', 'New deaths registered',
       'Fatality rate for confirmed and probables',
       'New cases of confirmed among health workers',
       'Total case of confirmed among health workers',
       'New deaths registered among health workers',
       'Total deaths registered among health workers',
       'New admits to CTE so far',
       'Total number of hospitalized cases in CTE',
       'Total number of exits from CTE',
       'Total number of admissions to CTE',
       'New contacts registered so far',
       'Number of contacts followed today',
       'Number of contacts out of the track 21 days',
       'Number of contacts lost to follow up',
       'Number of samples collected today', 'Number of samples under test',
       'Total samples tested'], dtype=object)

In [101]:
data_guinea['Country']='Guinea'
data_guinea[data_guinea.duplicated()==True] # no duplicate row

data_guinea.Date=pd.to_datetime(data_guinea.Date) 

data_guinea = data_guinea.set_index(['Country','Date'])

In [102]:
pd.set_option('display.max_columns', None)
data_guinea.describe()

                                            Description Totals
count                                               712    712
unique                                               60    317
top     Total deaths (confirmed + probables + suspects)      0
freq                                                 22     83

In [103]:
#cols = ['Description','Totals']  + [col for col in data_guinea if col not in ['Description','Totals']]
#data_guinea = data_guinea[cols] # reordering colomns 
#data_guinea[data_guinea.Totals.str.contains('%')==True]

In [104]:
data_guinea

                                                        Description Totals
Country Date
Guinea  2014-08-04                            New cases of suspects      5
        2014-08-04                           New cases of probables      0
        2014-08-04                           New cases of confirmed      4
        2014-08-04                Total new cases registered so far      9
        2014-08-04                          Total cases of suspects     11
        2014-08-04                         Total cases of probables    133
        2014-08-04                         Total cases of confirmed    351
        2014-08-04     Cumulative (confirmed + probable + suspects)    495
        2014-08-04                      New deaths registered today      2
        2014-08-04          New deaths registered today (confirmed)      2
        2014-08-04          New deaths registered today (probables)      0
        2014-08-04           New deaths registered today (suspects)      0
        2014-08-04                         Total deaths of suspects      2
        2014-08-04                        Total deaths of probables    133
        2014-08-04                        Total deaths of confirmed    228
        2014-08-04  Total deaths (confirmed + probables + suspects)    363
        2014-08-04                           Total PEC center today     31
        2014-08-04               Total PEC center today (confirmed)     18
        2014-08-04               Total PEC center today (probables)      0
        2014-08-04                Total PEC center today (suspects)     13
        2014-08-04        Total of deaths in confirmed cases in CTE    138
        2014-08-04         Total of cured in confirmed cases in CTE     89
        2014-08-04                   Number of male confirmed cases    161
        2014-08-04                 Number of female confirmed cases    190
        2014-08-04                   Number of male probables cases     52
        2014-08-04                 Number of female probables cases     81
        2014-08-04                    Number of male suspects cases      7
        2014-08-04                  Number of female suspects cases      6
        2014-08-04                       Total number of male cases    220
        2014-08-04                     Total number of female cases    277
...                                                             ...    ...
        2014-10-01                           New cases of confirmed      6
        2014-10-01                Total new cases registered so far     34
        2014-10-01                          Total cases of suspects     45
        2014-10-01                         Total cases of probables    177
        2014-10-01                         Total cases of confirmed    977
        2014-10-01     Cumulative (confirmed + probable + suspects)   1199
        2014-10-01                  Total suspected non-class cases    974
        2014-10-01                            New deaths registered     15
        2014-10-01                         Total deaths of suspects      0
        2014-10-01                        Total deaths of probables    177
        2014-10-01                        Total deaths of confirmed    562
        2014-10-01  Total deaths (confirmed + probables + suspects)    739
        2014-10-01        Fatality rate for confirmed and probables    62%
        2014-10-01      New cases of confirmed among health workers      2
        2014-10-01     Total case of confirmed among health workers     69
        2014-10-01       New deaths registered among health workers      0
        2014-10-01     Total deaths registered among health workers     35
        2014-10-01                         New admits to CTE so far     25
        2014-10-01        Total number of hospitalized cases in CTE    114
        2014-10-01                   Total number of exits from CTE     29
        2014-10-01                Total number of admissions to CTE   1576
        2014-10-01                   New contacts registered so far      0
        2014-10-01        Total contacts registered from start date  11772
        2014-10-01               Number of contacts to follow today   2661
        2014-10-01                Number of contacts followed today   2595
        2014-10-01      Number of contacts out of the track 21 days   9110
        2014-10-01             Number of contacts lost to follow up      1
        2014-10-01                Number of samples collected today     25
        2014-10-01                     Number of samples under test      0
        2014-10-01                             Total samples tested   2832

[712 rows x 2 columns]

### Liberia

In [105]:
data_liberia = loadAllFile(liberia)
data_liberia.shape

(3152, 19)

In [106]:
data_liberia.columns

Index(['Bomi County', 'Bong County', 'Date', 'Gbarpolu County', 'Grand Bassa',
       'Grand Cape Mount', 'Grand Gedeh', 'Grand Kru', 'Lofa County',
       'Margibi County', 'Maryland County', 'Montserrado County', 'National',
       'Nimba County', 'River Gee County', 'RiverCess County', 'Sinoe County',
       'Unnamed: 18', 'Variable'],
      dtype='object')

In [107]:
data_liberia['Variable']

0                                     Specimens collected
1                           Specimens pending for testing
2                                  Total specimens tested
3                                   Newly reported deaths
4                        Total death/s in confirmed cases
5                         Total death/s in probable cases
6                        Total death/s in suspected cases
7       Total death/s in confirmed, probable, suspecte...
8       Case Fatality Rate (CFR) - Confirmed & Probabl...
9                                 Newly reported contacts
10                                  Total contacts listed
11                              Currently under follow-up
12                                          Contacts seen
13                Contacts who completed 21 day follow-up
14                             Contacts lost to follow-up
15                                         New admissions
16                 Total no. currently in Treatment Units
17                                       Total discharges
18                         Cumulative admission/isolation
19                            Newly Reported Cases in HCW
20                             Cumulative cases among HCW
21                           Newly Reported deaths in HCW
22                            Cumulative deaths among HCW
23                                 New Case/s (Suspected)
24                                  New Case/s (Probable)
25                                 New case/s (confirmed)
26                                  Total suspected cases
27                                   Total probable cases
28                                  Total confirmed cases
29      Total Number of Confirmed Cases of Sierra Leon...
                              ...
3122                               Total specimens tested
3123                                Newly reported deaths
3124                     Total death/s in confirmed cases
3125                      Total death/s in probable cases
3126                     Total death/s in suspected cases
3127    Total death/s in confirmed, \n probable, suspe...
3128    Case Fatality Rate (CFR) - \n Confirmed & Prob...
3129                              Newly reported contacts
3130                                Total contacts listed
3131                            Currently under follow-up
3132                                        Contacts seen
3133           Contacts who completed 21 day \n follow-up
3134                           Contacts lost to follow-up
3135                                       New admissions
3136            Total no. currently in Treatment \n Units
3137                                     Total discharges
3138                       Cumulative admission/isolation
3139                          Newly Reported Cases in HCW
3140                           Cumulative cases among HCW
3141                         Newly Reported deaths in HCW
3142                          Cumulative deaths among HCW
3143                               New Case/s (Suspected)
3144                                New Case/s (Probable)
3145                               New case/s (confirmed)
3146                                Total suspected cases
3147                                 Total probable cases
3148                                Total confirmed cases
3149    Total Number of Confirmed Cases \n of Sierra L...
3150    Total Number of Confirmed Cases \n of Guinean ...
3151    Cumulative confirmed, probable and suspected c...
Name: Variable, Length: 3152, dtype: object

In [108]:
data_liberia.rename(columns={'Variable': 'Description'}, inplace=True)
data_liberia.rename(columns={'National': 'Totals'}, inplace=True)

In [109]:
data_liberia[data_liberia['Unnamed: 18'].isnull()==False]
#Same day, 3 observations results of creating 'Unnamed 18' colomn over 3152 other observations -> by looking into 2014-12-01.csv, comma is missing at the end of the row: suspect error (in shift)

,Bomi County,Bong County,Date,Gbarpolu County,Grand Bassa,Grand Cape Mount,Grand Gedeh,Grand Kru,Lofa County,Margibi County,Maryland County,Montserrado County,Totals,Nimba County,River Gee County,RiverCess County,Sinoe County,Unnamed: 18,Description
2887,0.0,3.0,12/1/2014,0.0,2.0,NaN,2.0,0.0,0.0,0.0,5.0,0.0,25.0,12.0,0.0,0.0,0.0,1.0,New Case/s (Suspected)
2888,0.0,0.0,12/1/2014,0.0,1.0,NaN,0.0,0.0,0.0,0.0,1.0,0.0,9.0,7.0,0.0,0.0,0.0,0.0,New Case/s (Probable)
2889,0.0,0.0,12/1/2014,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,New case/s (confirmed)

In [110]:
data_liberia.drop('Unnamed: 18', axis=1, inplace=True)

In [111]:
data_liberia.Date # need to parse to the same date format as guinea date
data_liberia.Date=pd.to_datetime(data_liberia.Date)

In [112]:
data_liberia = data_liberia[['Date','Description','Totals']]
data_liberia.dropna(axis=0, how='any', inplace=True) #Drop rows where any of the elements are nan

In [113]:
data_liberia[data_liberia.duplicated()==True] # no duplicate row
data_liberia['Country']='Liberia'
data_liberia = data_liberia.set_index(['Country','Date'])

In [114]:
data_liberia.head()

                                         Description  Totals
Country Date
Liberia 2014-06-16               Specimens collected     1.0
        2014-06-16     Specimens pending for testing     0.0
        2014-06-16            Total specimens tested    28.0
        2014-06-16             Newly reported deaths     2.0
        2014-06-16  Total death/s in confirmed cases     8.0

### Sierra Leone

In [115]:
data_sl = loadAllFile(sl)
data_sl.shape

(3262, 27)

In [116]:
data_sl.columns

Index(['34 Military Hospital', 'Bo', 'Bo EMC', 'Bombali', 'Bonthe',
       'Hastings-F/Town', 'Kailahun', 'Kambia', 'Kenema', 'Kenema (IFRC)',
       'Kenema (KGH)', 'Koinadugu', 'Kono', 'Moyamba', 'National',
       'Police training School', 'Police traning School', 'Port Loko',
       'Pujehun', 'Tonkolili', 'Unnamed: 18', 'Western area',
       'Western area combined', 'Western area rural', 'Western area urban',
       'date', 'variable'],
      dtype='object')

In [117]:
data_sl.rename(columns={'variable': 'Description'}, inplace=True)
data_sl.rename(columns={'date': 'Date'}, inplace=True)
data_sl.rename(columns={'National': 'Totals'}, inplace=True)

In [118]:
data_sl['Unnamed: 18'].unique() # columns give us any information
data_sl.drop('Unnamed: 18', axis=1, inplace=True)

In [119]:
data_sl = data_sl[['Date','Description','Totals']]
data_sl.dropna(axis=0, how='any', inplace=True) #Drop rows where any of the elements are nan

In [120]:
data_sl[data_sl.duplicated()==True] # no duplicate row
data_sl['Country']='Sierra Leone'
data_sl.Date=pd.to_datetime(data_sl.Date) 
data_sl = data_sl.set_index(['Country','Date'])

In [121]:
data_sl.head()

                           Description   Totals
Country      Date
Sierra Leone 2014-08-12     population  6348350
             2014-08-12    new_noncase        4
             2014-08-12  new_suspected       10
             2014-08-12   new_probable        1
             2014-08-12  new_confirmed       11

##  All Data

In [122]:
data = pd.concat([data_guinea,data_liberia,data_sl])
data.sample(6)

                                    Description Totals
Country      Date
Liberia      2014-09-11   New Case/s (Probable)     67
Sierra Leone 2014-10-08  etc_currently_admitted    158
             2014-10-01       contacts_followed   7688
Liberia      2014-07-02  New Case/s (Suspected)      1
Sierra Leone 2014-08-28         death_suspected     11
             2014-09-07           cum_suspected    100

In [124]:
data.index.levels[1]

DatetimeIndex(['2014-06-16', '2014-06-17', '2014-06-22', '2014-06-24',
               '2014-06-25', '2014-06-28', '2014-06-29', '2014-07-01',
               '2014-07-02', '2014-07-03',
               ...
               '2014-12-01', '2014-12-02', '2014-12-03', '2014-12-04',
               '2014-12-05', '2014-12-06', '2014-12-07', '2014-12-08',
               '2014-12-09', '2014-12-13'],
              dtype='datetime64[ns]', name='Date', length=135, freq=None)