In [171]:
DATA_FOLDER = '../../../ADA2017-Tutorials/02 - Intro to Pandas/Data/'

## TASK 1: EBOLA DATA

In [172]:
import pandas as pd
import os.path

In [173]:
EBOLA_FOLDER = DATA_FOLDER+'ebola/'

guinea = EBOLA_FOLDER+'guinea_data/'
liberia = EBOLA_FOLDER+'liberia_data/'
sl = EBOLA_FOLDER+'sl_data' #Sierra Leone

In [174]:
def loadAllFile(FolderPath):
    data = pd.DataFrame()
    for f in os.listdir(FolderPath):
        file_path = os.path.join(FolderPath, f)
        file_data = pd.read_csv(file_path)
        data = data.append(file_data, ignore_index=True)
    return data

### Guinea

In [175]:
data_guinea = loadAllFile(guinea)
data_guinea.Date=pd.to_datetime(data_guinea.Date) 
data_guinea['Country']='Guinea'
data_guinea = data_guinea.set_index(['Country','Date'])

### Liberia

In [176]:
data_liberia = loadAllFile(liberia)
data_liberia.rename(columns={'Variable': 'Description','National': 'Totals'}, inplace=True)
data_liberia.Date=pd.to_datetime(data_liberia.Date) 
data_liberia.drop('Unnamed: 18', axis=1, inplace=True)
data_liberia['Country']='Liberia'
data_liberia = data_liberia.set_index(['Country','Date'])

### Sierra Leone

In [177]:
data_sl = loadAllFile(sl)
data_sl.rename(columns={'variable': 'Description','date': 'Date','National': 'Totals'}, inplace=True)
data_sl.Date=pd.to_datetime(data_sl.Date) 
data_sl.drop('Unnamed: 18', axis=1, inplace=True)
data_sl.dropna(axis=1, how='all', inplace=True) #Drop columns where all of the elements are nan (Police traning School)
data_sl['Country']='Sierra Leone'
data_sl = data_sl.set_index(['Country','Date'])

##  All Data

In [178]:
#Selecting important column to answer the question
data_guinea = data_guinea[['Description','Totals']]
data_liberia = data_liberia[['Description','Totals']]
data_sl = data_sl[['Description','Totals']]

#Merge
data = pd.concat([data_guinea,data_liberia,data_sl])

#droping row with no information
data.dropna(axis=0, how='any', inplace=True) #Drop rows where any of the elements are nan

In [179]:
date_start = '2014-08-01'
date_end = '2014-08-29'
country= 'Guinea' 

newCases_guinea=['New cases of suspects', 'New cases of probables',
       'New cases of confirmed', 'Total new cases registered so far']
newDeath_guinea=['New deaths registered today',
       'New deaths registered today (confirmed)',
       'New deaths registered today (probables)',
       'New deaths registered today (suspects)']
TERMS_GUINEA= newCases_guinea+newDeath_guinea

tmp = data.xs(country, level='Country').loc[date_start:date_end]

tmp = tmp[tmp["Description"].isin(TERMS_GUINEA)]
tmp['Totals']= tmp['Totals'].astype(float)

tmp.groupby('Description').sum()

                                         Totals
Description
New cases of confirmed                     24.0
New cases of probables                      0.0
New cases of suspects                      35.0
New deaths registered today                 2.0
New deaths registered today (confirmed)     2.0
New deaths registered today (probables)     0.0
New deaths registered today (suspects)      0.0
Total new cases registered so far          59.0