# TASK 1: EBOLA DATA

## **Steps of this analysis:**

###  1- Importing data : 
  - Automate importation of all files in the country data folder
  - Check if the file format in the folder is a csv
  
###  2- For each dataset we need to :
  - check size of data
  - detect important features
  - check values that each feature can take 
    * helps to choose important TERM to filter on
    * helps to detect some errors
    * to know range and type of values
  - remove duplicates rows
  - convert columns values to apropriate format if needed
  - use pandas.describe, it helps to understand data
  - add column country to index data
  - reording columns and set index
  - drop unnecessary feature
  - try to standardize features names when possible 
  - try to complete missing data if the data allows it
  
###  3- Merge dataframes :
  - Filter important feature to answer the question and Merge all data
  - remove rows with incomplete information as it's crucial at this level
  - index dataframe
  - compute the average per day for each month and for each country

## Analysis:

In [45]:
import pandas as pd
import os.path
from calendar import monthrange

pd.set_option('display.max_columns', None)

In [46]:
DATA_FOLDER = '../../../ADA2017-Tutorials/02 - Intro to Pandas/Data/'

In [47]:
EBOLA_FOLDER = DATA_FOLDER+'ebola/'

guinea = EBOLA_FOLDER+'guinea_data/'
liberia = EBOLA_FOLDER+'liberia_data/'
sl = EBOLA_FOLDER+'sl_data' #Sierra Leone

COUNTRIES=['Guinea','Liberia','Sierra Leone']
TERMS='Newly reported deaths|Newly Reported Cases|New case|New death|new_' 
#new_ is the term needed to filter new cases/deaths in Sierra Leone data where the term cases isn't explicitly said
#we didn't standardize description label because we don't know exactly what each country mean by each description

In [48]:
def loadAllFile(FolderPath):
    data = pd.DataFrame()
    #For each file in the country directory
    for f in os.listdir(FolderPath):
        if f.endswith(".csv"):
            file_path = os.path.join(FolderPath, f)
            file_data = pd.read_csv(file_path)
            data = data.append(file_data, ignore_index=True)
    return data

### Guinea

In [49]:
data_guinea = loadAllFile(guinea)
data_guinea.shape

(714, 25)

In [50]:
data_guinea.columns

Index(['Beyla', 'Boffa', 'Conakry', 'Coyah', 'Dabola', 'Dalaba', 'Date',
       'Description', 'Dinguiraye', 'Dubreka', 'Forecariah', 'Gueckedou',
       'Kerouane', 'Kindia', 'Kissidougou', 'Kouroussa', 'Lola', 'Macenta',
       'Mzerekore', 'Nzerekore', 'Pita', 'Siguiri', 'Telimele', 'Totals',
       'Yomou'],
      dtype='object')

In [51]:
data_guinea['Country']='Guinea'

In [52]:
data_guinea[data_guinea.duplicated()==True] # no duplicate row

Empty DataFrame
Columns: [Beyla, Boffa, Conakry, Coyah, Dabola, Dalaba, Date, Description, Dinguiraye, Dubreka, Forecariah, Gueckedou, Kerouane, Kindia, Kissidougou, Kouroussa, Lola, Macenta, Mzerekore, Nzerekore, Pita, Siguiri, Telimele, Totals, Yomou, Country]
Index: []

In [53]:
data_guinea.Date=pd.to_datetime(data_guinea.Date) 
data_guinea.Date.unique()

array(['2014-08-04T00:00:00.000000000', '2014-08-26T00:00:00.000000000',
       '2014-08-27T00:00:00.000000000', '2014-08-30T00:00:00.000000000',
       '2014-08-31T00:00:00.000000000', '2014-09-02T00:00:00.000000000',
       '2014-09-04T00:00:00.000000000', '2014-09-07T00:00:00.000000000',
       '2014-09-08T00:00:00.000000000', '2014-09-09T00:00:00.000000000',
       '2014-09-11T00:00:00.000000000', '2014-09-14T00:00:00.000000000',
       '2014-09-16T00:00:00.000000000', '2014-09-17T00:00:00.000000000',
       '2014-09-19T00:00:00.000000000', '2014-09-21T00:00:00.000000000',
       '2014-09-22T00:00:00.000000000', '2014-09-23T00:00:00.000000000',
       '2014-09-24T00:00:00.000000000', '2014-09-26T00:00:00.000000000',
       '2014-09-30T00:00:00.000000000', '2014-10-01T00:00:00.000000000'], dtype='datetime64[ns]')

In [54]:
data_guinea.Totals.unique() # we notice different value :'66%', nan, integer (non negative value)

array([5, 0, 4, 9, 11, 133, 351, 495, 2, 228, 363, 31, 18, 13, 138, 89,
       161, 190, 52, 81, 7, 6, 220, 277, 21, 12, 8, 6309, 795, 5513, 772,
       785, 1235, '18', nan, '10', '28', '30', '141', '490', '661', '518',
       '5', '2', '292', '958', '66%', '0', '45', '26', '22', '87', '6',
       '997', '137', '7521', '1085', '1070', '6438', '9', '55', '1700',
       '12', '142', '499', '663', '294', '438', '80', '14', '999', '127',
       '7662', '1264', '1250', '6496', '58', '1719', '15', '24', '32',
       '533', '707', '560', '324', '468', '50', '82', '33', '1094', '21',
       '7734', '1251', '1173', '6504', '76', '41', '1858', '8', '29', '46',
       '36', '150', '563', '749', '642', '3', '337', '489', '65%', '99',
       '1113', '83', '1941', '11', '25', '49', '591', '790', '349', '501',
       '63%', '105', '1144', '8189', '1842', '1641', '31', '2018', '13',
       '17', '51', '151', '621', '823', '682', '368', '522', '61%', '103',
       '1191', '8746', '1978', '1707', '6797', '249', '16', '678', '861',
       '714', '4', '402', '557', '54', '102', '1256', '8840', '2162',
       '1868', '6851', '2236', '7', '683', '867', '747', '410', '565',
       '52', '92', '1272', '1', '9006', '2283', '2043', '6896', '38',
       '2274', '716', '899', '413', '568', '57', '108', '1244', '172',
       '9378', '2453', '2136', '6904', '47', '2333', '162', '743', '936',
       '787', '429', '595', '64%', '61', '84', '1294', '27', '9553',
       '2472', '2145', '7066', '48', '2373', '161', '771', '964', '442',
       '608', '66', '1348', '53', '10082', '2433', '2372', '7642', '2489',
       '788', '974', '838', '463', '630', '35', '1379', '182', '10383',
       '2346', '2267', '8036', '2505', '818', '1008', '465', '632', '67',
       '69', '1405', '10532', '2380', '2249', '8055', '2596', '19', '832',
       '1022', '635', '62%', '1418', '10561', '2364', '2307', '8100',
       '2609', '854', '1048', '476', '643', '1465', '64', '10591', '2362',
       '2004', '8132', '2665', '20', '876', '1074', '481', '648', '60%',
       '93', '1478', '297', '10885', '2295', '1967', '8480', '2710', '169',
       '902', '1103', '494', '668', '1500', '11404', '2656', '2598',
       '8747', '2760', '175', '961', '1169', '951', '539', '112', '1548',
       '11719', '2657', '2615', '9021', '2807', '34', '177', '977', '1199',
       '562', '739', '114', '1576', '11772', '2661', '2595', '9110', '2832'], dtype=object)

- In this case we don't know how 'Totals' is calculated instead of other in whitch we suppose it's a sum of cities

In [55]:
data_guinea[data_guinea.Totals.str.contains('%')==True].sample(3)

,Beyla,Boffa,Conakry,Coyah,Dabola,Dalaba,Date,Description,Dinguiraye,Dubreka,Forecariah,Gueckedou,Kerouane,Kindia,Kissidougou,Kouroussa,Lola,Macenta,Mzerekore,Nzerekore,Pita,Siguiri,Telimele,Totals,Yomou,Country
248,NaN,67%,44%,33%,100%,NaN,2014-09-07,Fatality rate for confirmed and probables,100%,19%,67%,84%,9%,NaN,86%,100%,NaN,60%,NaN,43%,38%,50%,38%,65%,42%,Guinea
536,NaN,67%,44%,56%,100%,0%,2014-09-22,Fatality rate for confirmed and probables,100%,33%,70%,83%,23%,0,88%,100%,NaN,54%,67%,NaN,38%,50%,38%,62%,45%,Guinea
120,NaN,64%,44%,NaN,100%,NaN,2014-08-30,Fatality rate for confirmed and probables,100%,14%,43%,85%,NaN,NaN,86%,100%,NaN,56%,NaN,55%,67%,50%,38%,66%,27%,Guinea

In [56]:
data_guinea[data_guinea.Totals.isnull()]

,Beyla,Boffa,Conakry,Coyah,Dabola,Dalaba,Date,Description,Dinguiraye,Dubreka,Forecariah,Gueckedou,Kerouane,Kindia,Kissidougou,Kouroussa,Lola,Macenta,Mzerekore,Nzerekore,Pita,Siguiri,Telimele,Totals,Yomou,Country
43,NaN,NaN,NaN,NaN,NaN,NaN,2014-08-26,New cases of probables,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Guinea
660,NaN,NaN,NaN,NaN,NaN,NaN,2014-09-30,Total deaths of suspects,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Guinea

In [57]:
data_guinea.Description.unique() # Observations

array(['New cases of suspects', 'New cases of probables',
       'New cases of confirmed', 'Total new cases registered so far',
       'Total cases of suspects', 'Total cases of probables',
       'Total cases of confirmed',
       'Cumulative (confirmed + probable + suspects)',
       'New deaths registered today',
       'New deaths registered today (confirmed)',
       'New deaths registered today (probables)',
       'New deaths registered today (suspects)',
       'Total deaths of suspects', 'Total deaths of probables',
       'Total deaths of confirmed',
       'Total deaths (confirmed + probables + suspects)',
       'Total PEC center today', 'Total PEC center today (confirmed)',
       'Total PEC center today (probables)',
       'Total PEC center today (suspects)',
       'Total of deaths in confirmed cases in CTE',
       'Total of cured in confirmed cases in CTE',
       'Number of male confirmed cases',
       'Number of female confirmed cases',
       'Number of male probables cases',
       'Number of female probables cases', 'Number of male suspects cases',
       'Number of female suspects cases', 'Total number of male cases',
       'Total number of female cases',
       'Number of confirmed cases among health workers',
       'Number of deaths of confirmed cases among health workers',
       'Number of probables cases among health workers',
       'Number of deaths of probables cases among health workers',
       'Number of suspects cases among health workers',
       'Number of death of confirmed cases among health workers',
       'Total contacts registered from start date',
       'Number of contacts to follow today',
       'Number of contacts out of track',
       'Number of contacts followed yesterday',
       'Number of patients tested', 'Number of samples collected',
       'Total suspected non-class cases', 'New deaths registered',
       'Fatality rate for confirmed and probables',
       'New cases of confirmed among health workers',
       'Total case of confirmed among health workers',
       'New deaths registered among health workers',
       'Total deaths registered among health workers',
       'New admits to CTE so far',
       'Total number of hospitalized cases in CTE',
       'Total number of exits from CTE',
       'Total number of admissions to CTE',
       'New contacts registered so far',
       'Number of contacts followed today',
       'Number of contacts out of the track 21 days',
       'Number of contacts lost to follow up',
       'Number of samples collected today', 'Number of samples under test',
       'Total samples tested'], dtype=object)

In [58]:
data_guinea.describe()

,Beyla,Boffa,Conakry,Coyah,Dabola,Dalaba,Date,Description,Dinguiraye,Dubreka,Forecariah,Gueckedou,Kerouane,Kindia,Kissidougou,Kouroussa,Lola,Macenta,Mzerekore,Nzerekore,Pita,Siguiri,Telimele,Totals,Yomou,Country
count,65.0,495,633,381,522,245,714,714,519,499,431,644,380,147.0,519,495,20,638,358,163,496,496,519,712,460,714
unique,12.0,29,227,28,13,9,22,60,6,37,44,223,42,7.0,24,19,6,168,78,42,35,22,28,317,26,1
top,0.0,0,0,0,0,0,2014-08-04 00:00:00,Total deaths of probables,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,0,Guinea
freq,31.0,246,81,195,272,167,42,22,373,216,220,86,219,91.0,268,230,12,166,102,40,197,249,207,83,209,714
first,NaN,NaN,NaN,NaN,NaN,NaN,2014-08-04 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,NaN,NaN,NaN,NaN,NaN,NaN,2014-10-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
cols = ['Description','Totals']  + [col for col in data_guinea if col not in ['Description','Totals']]
data_guinea = data_guinea[cols] # reordering colomns 
data_guinea = data_guinea.set_index(['Country','Date'])

In [60]:
data_guinea.head()

                                          Description Totals Beyla Boffa  \
Country Date
Guinea  2014-08-04              New cases of suspects      5   NaN     0
        2014-08-04             New cases of probables      0   NaN     0
        2014-08-04             New cases of confirmed      4   NaN     0
        2014-08-04  Total new cases registered so far      9   NaN     0
        2014-08-04            Total cases of suspects     11   NaN     0

                   Conakry Coyah Dabola Dalaba Dinguiraye Dubreka Forecariah  \
Country Date
Guinea  2014-08-04       5   NaN      0    NaN          0       0        NaN
        2014-08-04       0   NaN      0    NaN          0       0        NaN
        2014-08-04       1   NaN      0    NaN          0       0        NaN
        2014-08-04       6   NaN      0    NaN          0       0        NaN
        2014-08-04       9   NaN      0    NaN          0       0        NaN

                   Gueckedou Kerouane Kindia Kissidougou Kouroussa Lola  \
Country Date
Guinea  2014-08-04         0      NaN    NaN           0         0  NaN
        2014-08-04         0      NaN    NaN           0         0  NaN
        2014-08-04         3      NaN    NaN           0         0  NaN
        2014-08-04         3      NaN    NaN           0         0  NaN
        2014-08-04         2      NaN    NaN           0         0  NaN

                   Macenta Mzerekore Nzerekore Pita Siguiri Telimele Yomou
Country Date
Guinea  2014-08-04       0       NaN         0    0       0        0   NaN
        2014-08-04       0       NaN         0    0       0        0   NaN
        2014-08-04       0       NaN         0    0       0        0   NaN
        2014-08-04       0       NaN         0    0       0        0   NaN
        2014-08-04       0       NaN         0    0       0        0   NaN

### Liberia

In [61]:
data_liberia = loadAllFile(liberia)
data_liberia.shape

(3152, 19)

In [62]:
data_liberia['Country']='Liberia'

In [63]:
data_liberia.columns

Index(['Bomi County', 'Bong County', 'Date', 'Gbarpolu County', 'Grand Bassa',
       'Grand Cape Mount', 'Grand Gedeh', 'Grand Kru', 'Lofa County',
       'Margibi County', 'Maryland County', 'Montserrado County', 'National',
       'Nimba County', 'River Gee County', 'RiverCess County', 'Sinoe County',
       'Unnamed: 18', 'Variable', 'Country'],
      dtype='object')

In [64]:
data_liberia['Variable']

0                                     Specimens collected
1                           Specimens pending for testing
2                                  Total specimens tested
3                                   Newly reported deaths
4                        Total death/s in confirmed cases
5                         Total death/s in probable cases
6                        Total death/s in suspected cases
7       Total death/s in confirmed, probable, suspecte...
8       Case Fatality Rate (CFR) - Confirmed & Probabl...
9                                 Newly reported contacts
10                                  Total contacts listed
11                              Currently under follow-up
12                                          Contacts seen
13                Contacts who completed 21 day follow-up
14                             Contacts lost to follow-up
15                                         New admissions
16                 Total no. currently in Treatment Units
17                                       Total discharges
18                         Cumulative admission/isolation
19                            Newly Reported Cases in HCW
20                             Cumulative cases among HCW
21                           Newly Reported deaths in HCW
22                            Cumulative deaths among HCW
23                                 New Case/s (Suspected)
24                                  New Case/s (Probable)
25                                 New case/s (confirmed)
26                                  Total suspected cases
27                                   Total probable cases
28                                  Total confirmed cases
29      Total Number of Confirmed Cases of Sierra Leon...
                              ...
3122                               Total specimens tested
3123                                Newly reported deaths
3124                     Total death/s in confirmed cases
3125                      Total death/s in probable cases
3126                     Total death/s in suspected cases
3127    Total death/s in confirmed, \n probable, suspe...
3128    Case Fatality Rate (CFR) - \n Confirmed & Prob...
3129                              Newly reported contacts
3130                                Total contacts listed
3131                            Currently under follow-up
3132                                        Contacts seen
3133           Contacts who completed 21 day \n follow-up
3134                           Contacts lost to follow-up
3135                                       New admissions
3136            Total no. currently in Treatment \n Units
3137                                     Total discharges
3138                       Cumulative admission/isolation
3139                          Newly Reported Cases in HCW
3140                           Cumulative cases among HCW
3141                         Newly Reported deaths in HCW
3142                          Cumulative deaths among HCW
3143                               New Case/s (Suspected)
3144                                New Case/s (Probable)
3145                               New case/s (confirmed)
3146                                Total suspected cases
3147                                 Total probable cases
3148                                Total confirmed cases
3149    Total Number of Confirmed Cases \n of Sierra L...
3150    Total Number of Confirmed Cases \n of Guinean ...
3151    Cumulative confirmed, probable and suspected c...
Name: Variable, Length: 3152, dtype: object

In [65]:
data_liberia.rename(columns={'Variable': 'Description','National': 'Totals'}, inplace=True)

- Same day, 3 observations results of creating 'Unnamed 18' colomn over 3152 other observations -> by looking into 2014-12-01.csv, comma is missing at the end of the row: suspect error (in shift)

In [66]:
data_liberia[data_liberia['Unnamed: 18'].isnull()==False]

,Bomi County,Bong County,Date,Gbarpolu County,Grand Bassa,Grand Cape Mount,Grand Gedeh,Grand Kru,Lofa County,Margibi County,Maryland County,Montserrado County,Totals,Nimba County,River Gee County,RiverCess County,Sinoe County,Unnamed: 18,Description,Country
2887,0.0,3.0,12/1/2014,0.0,2.0,NaN,2.0,0.0,0.0,0.0,5.0,0.0,25.0,12.0,0.0,0.0,0.0,1.0,New Case/s (Suspected),Liberia
2888,0.0,0.0,12/1/2014,0.0,1.0,NaN,0.0,0.0,0.0,0.0,1.0,0.0,9.0,7.0,0.0,0.0,0.0,0.0,New Case/s (Probable),Liberia
2889,0.0,0.0,12/1/2014,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,New case/s (confirmed),Liberia

In [67]:
data_liberia.drop('Unnamed: 18', axis=1, inplace=True)

In [68]:
data_liberia.Date=pd.to_datetime(data_liberia.Date) # need to parse to the same date format as guinea date

In [69]:
data_liberia[data_liberia.duplicated()==True] # no duplicate row

Empty DataFrame
Columns: [Bomi County, Bong County, Date, Gbarpolu County, Grand Bassa, Grand Cape Mount, Grand Gedeh, Grand Kru, Lofa County, Margibi County, Maryland County, Montserrado County, Totals, Nimba County, River Gee County, RiverCess County, Sinoe County, Description, Country]
Index: []

In [70]:
data_liberia.describe()

,Bomi County,Bong County,Gbarpolu County,Grand Bassa,Grand Cape Mount,Grand Gedeh,Grand Kru,Lofa County,Margibi County,Maryland County,Montserrado County,Totals,Nimba County,River Gee County,RiverCess County,Sinoe County
count,2012.000000,2110.000000,1531.000000,1695.000000,1695.000000,1616.000000,1409.000000,2310.000000,2090.000000,1675.000000,2309.000000,2392.000000,2080.000000,1842.000000,1880.000000,1840.000000
mean,39.652187,55.003365,4.280862,22.213923,21.772035,1.421163,5.753939,90.534113,194.645789,8.967164,512.878995,928.429849,48.895433,2.087405,5.599309,5.522935
std,104.486810,140.724044,14.650063,54.190995,56.158374,5.477662,17.903874,172.994014,489.976087,120.642880,1305.807130,2278.894424,127.251195,5.350046,17.524092,16.032927
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,8.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,3.000000,0.000000,1.000000,1.000000,0.000000,0.000000,11.000000,2.000000,0.000000,24.000000,48.000000,0.000000,0.000000,0.000000,0.000000
75%,27.000000,31.000000,0.000000,18.000000,8.000000,0.000000,2.000000,91.500000,63.750000,1.000000,222.000000,441.000000,30.000000,1.000000,1.000000,1.000000
max,782.000000,1307.000000,121.000000,405.000000,410.000000,72.000000,344.000000,2145.000000,3036.000000,3175.000000,11299.000000,19155.000000,893.000000,100.000000,113.000000,102.000000

In [71]:
cols = ['Description','Totals']  + [col for col in data_liberia if col not in ['Description','Totals']]
data_liberia = data_liberia[cols] # reordering colomns 
data_liberia = data_liberia.set_index(['Country','Date'])

In [72]:
data_liberia.head()

                                         Description  Totals  Bomi County  \
Country Date
Liberia 2014-06-16               Specimens collected     1.0          NaN
        2014-06-16     Specimens pending for testing     0.0          NaN
        2014-06-16            Total specimens tested    28.0          NaN
        2014-06-16             Newly reported deaths     2.0          NaN
        2014-06-16  Total death/s in confirmed cases     8.0          NaN

                    Bong County  Gbarpolu County  Grand Bassa  \
Country Date
Liberia 2014-06-16          NaN              NaN          NaN
        2014-06-16          NaN              NaN          NaN
        2014-06-16          NaN              NaN          NaN
        2014-06-16          NaN              NaN          NaN
        2014-06-16          NaN              NaN          NaN

                    Grand Cape Mount  Grand Gedeh  Grand Kru  Lofa County  \
Country Date
Liberia 2014-06-16               NaN          NaN        NaN          1.0
        2014-06-16               NaN          NaN        NaN          0.0
        2014-06-16               NaN          NaN        NaN         21.0
        2014-06-16               NaN          NaN        NaN          1.0
        2014-06-16               NaN          NaN        NaN          4.0

                    Margibi County  Maryland County  Montserrado County  \
Country Date
Liberia 2014-06-16             NaN              NaN                 0.0
        2014-06-16             NaN              NaN                 0.0
        2014-06-16             NaN              NaN                 7.0
        2014-06-16             NaN              NaN                 0.0
        2014-06-16             NaN              NaN                 0.0

                    Nimba County  River Gee County  RiverCess County  \
Country Date
Liberia 2014-06-16           NaN               NaN               NaN
        2014-06-16           NaN               NaN               NaN
        2014-06-16           NaN               NaN               NaN
        2014-06-16           NaN               NaN               NaN
        2014-06-16           NaN               NaN               NaN

                    Sinoe County
Country Date
Liberia 2014-06-16           NaN
        2014-06-16           NaN
        2014-06-16           NaN
        2014-06-16           NaN
        2014-06-16           NaN

### Sierra Leone

In [73]:
data_sl = loadAllFile(sl)
data_sl.shape

(3262, 27)

In [74]:
data_sl.columns

Index(['34 Military Hospital', 'Bo', 'Bo EMC', 'Bombali', 'Bonthe',
       'Hastings-F/Town', 'Kailahun', 'Kambia', 'Kenema', 'Kenema (IFRC)',
       'Kenema (KGH)', 'Koinadugu', 'Kono', 'Moyamba', 'National',
       'Police training School', 'Police traning School', 'Port Loko',
       'Pujehun', 'Tonkolili', 'Unnamed: 18', 'Western area',
       'Western area combined', 'Western area rural', 'Western area urban',
       'date', 'variable'],
      dtype='object')

In [75]:
data_sl.rename(columns={'variable': 'Description','date': 'Date','National': 'Totals'}, inplace=True)
data_sl.Date=pd.to_datetime(data_sl.Date)

In [76]:
data_sl['Unnamed: 18'].unique() # columns give us any information

array([ nan])

In [77]:
data_sl.drop('Unnamed: 18', axis=1, inplace=True)

In [78]:
data_sl[data_sl.duplicated()==True] # no duplicate row

Empty DataFrame
Columns: [34 Military Hospital, Bo, Bo EMC, Bombali, Bonthe, Hastings-F/Town, Kailahun, Kambia, Kenema, Kenema (IFRC), Kenema (KGH), Koinadugu, Kono, Moyamba, Totals, Police training School, Police traning School, Port Loko, Pujehun, Tonkolili, Western area, Western area combined, Western area rural, Western area urban, Date, Description]
Index: []

In [79]:
data_sl['Country']='Sierra Leone'

In [80]:
data_sl.describe()

,34 Military Hospital,Bo EMC,Hastings-F/Town,Kenema (IFRC),Police training School,Police traning School,Western area,Western area combined
count,7.000000,7.000000,56.000000,137.000000,7.000000,0.0,1.490000e+02,16.0
mean,19.285714,9.857143,81.696429,24.540146,7.428571,NaN,8.770979e+04,1304507.0
std,23.192774,13.765035,94.594622,56.857021,12.686701,NaN,3.274713e+05,0.0
min,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000e+00,1304507.0
25%,5.500000,1.000000,3.000000,0.000000,0.000000,NaN,4.000000e+00,1304507.0
50%,8.000000,2.000000,78.500000,7.000000,0.000000,NaN,3.000000e+01,1304507.0
75%,24.500000,14.000000,108.250000,28.000000,13.000000,NaN,1.500000e+02,1304507.0
max,67.000000,37.000000,318.000000,556.000000,26.000000,NaN,1.304507e+06,1304507.0

In [81]:
data_sl.dropna(axis=1, how='all', inplace=True) #Drop columns where all of the elements are nan (Police traning School)

In [82]:
cols = ['Description','Totals']  + [col for col in data_sl if col not in ['Description','Totals']]
data_sl = data_sl[cols] # reordering colomns 
data_sl = data_sl.set_index(['Country','Date'])

In [83]:
data_sl.head()

                           Description   Totals  34 Military Hospital      Bo  \
Country      Date
Sierra Leone 2014-08-12     population  6348350                   NaN  654142
             2014-08-12    new_noncase        4                   NaN       0
             2014-08-12  new_suspected       10                   NaN       1
             2014-08-12   new_probable        1                   NaN       1
             2014-08-12  new_confirmed       11                   NaN       0

                         Bo EMC Bombali  Bonthe  Hastings-F/Town Kailahun  \
Country      Date
Sierra Leone 2014-08-12     NaN  494139  168729              NaN   465048
             2014-08-12     NaN       0       0              NaN        0
             2014-08-12     NaN       0       0              NaN        0
             2014-08-12     NaN       0       0              NaN        0
             2014-08-12     NaN       0       0              NaN        0

                         Kambia  Kenema  Kenema (IFRC) Kenema (KGH) Koinadugu  \
Country      Date
Sierra Leone 2014-08-12  341690  653013            NaN          NaN    335471
             2014-08-12       0       3            NaN          NaN         0
             2014-08-12       0       9            NaN          NaN         0
             2014-08-12       0       0            NaN          NaN         0
             2014-08-12       0       9            NaN          NaN         0

                           Kono Moyamba  Police training School Port Loko  \
Country      Date
Sierra Leone 2014-08-12  325003  278119                     NaN    557978
             2014-08-12       0       0                     NaN         1
             2014-08-12       0       0                     NaN         0
             2014-08-12       0       0                     NaN         0
             2014-08-12       0       0                     NaN         2

                        Pujehun Tonkolili  Western area  \
Country      Date
Sierra Leone 2014-08-12  335574    434937           NaN
             2014-08-12       0         0           NaN
             2014-08-12       0         0           NaN
             2014-08-12       0         0           NaN
             2014-08-12       0         0           NaN

                         Western area combined Western area rural  \
Country      Date
Sierra Leone 2014-08-12                    NaN             263619
             2014-08-12                    NaN                  0
             2014-08-12                    NaN                  0
             2014-08-12                    NaN                  0
             2014-08-12                    NaN                  0

                        Western area urban
Country      Date
Sierra Leone 2014-08-12            1040888
             2014-08-12                  0
             2014-08-12                  0
             2014-08-12                  0
             2014-08-12                  0

##  All Data

In [84]:
#Selecting important column to answer the question
data_guinea = data_guinea[['Description','Totals']]
data_liberia = data_liberia[['Description','Totals']]
data_sl = data_sl[['Description','Totals']]

#Merge
data = pd.concat([data_guinea,data_liberia,data_sl])

#droping row with no information
data.dropna(axis=0, how='any', inplace=True) #Drop rows where any of the elements are nan

data.sample(6)

                                                        Description  \
Country      Date
Liberia      2014-09-30                 Cumulative deaths among HCW
Guinea       2014-09-23           Total new cases registered so far
Sierra Leone 2014-10-06                                  population
Guinea       2014-09-08  New deaths registered among health workers
Liberia      2014-08-18                      New case/s (confirmed)
             2014-10-18                     Newly reported contacts

                              Totals
Country      Date
Liberia      2014-09-30           92
Guinea       2014-09-23           29
Sierra Leone 2014-10-06  6.34835e+06
Guinea       2014-09-08            0
Liberia      2014-08-18            2
             2014-10-18           84

In [85]:
result = pd.DataFrame()
for country in COUNTRIES:
    all_dates = data.xs(country, level='Country').index.map(lambda t: str(t.year)+'-'+str('%02d' % t.month)).unique()
    for date_start in all_dates:
        date_start = date_start+'-'+"01"
        days_in_month = monthrange(int(date_start[0:4]), int(date_start[5:7]))[1]
        date_end = date_start[0:8]+ str(days_in_month)
        
        tmp = data.xs(country, level='Country').loc[date_start:date_end]
        tmp = tmp[tmp["Description"].str.contains(TERMS, case=False)]
        tmp['Totals']= tmp['Totals'].astype(int) #cases/death are discrete number
        tmp = tmp.rename(columns={'Totals': 'Avg new Cases/Deaths Per Day'})
    
        #We suppose that if there is no data for a day it means that there is any new cases/deaths ('0')
        tmp = round(tmp.groupby('Description').sum()/days_in_month,0) #we round because cases/death are discrete number
        tmp['Date']=date_start[0:4]+'-'+date_start[5:7]
        tmp['Country']=country
        tmp = tmp.reset_index()
        tmp = tmp.set_index(['Country','Date','Description'])
        result = result.append(tmp)
result

                                                                  Avg new Cases/Deaths Per Day
Country      Date    Description
Guinea       2014-08 New cases of confirmed                                                2.0
                     New cases of confirmed among health workers                           0.0
                     New cases of probables                                                0.0
                     New cases of suspects                                                 2.0
                     New deaths registered                                                 0.0
                     New deaths registered among health workers                            0.0
                     New deaths registered today                                           0.0
                     New deaths registered today (confirmed)                               0.0
                     New deaths registered today (probables)                               0.0
                     New deaths registered today (suspects)                                0.0
                     Total new cases registered so far                                     4.0
             2014-09 New cases of confirmed                                                7.0
                     New cases of confirmed among health workers                           0.0
                     New cases of probables                                                1.0
                     New cases of suspects                                                 3.0
                     New deaths registered                                                 2.0
                     New deaths registered among health workers                            0.0
                     Total new cases registered so far                                    10.0
             2014-10 New cases of confirmed                                                0.0
                     New cases of confirmed among health workers                           0.0
                     New cases of probables                                                0.0
                     New cases of suspects                                                 1.0
                     New deaths registered                                                 0.0
                     New deaths registered among health workers                            0.0
                     Total new cases registered so far                                     1.0
Liberia      2014-06 New Case/s (Probable)                                                 0.0
                     New Case/s (Suspected)                                                1.0
                     New case/s (confirmed)                                                0.0
                     Newly Reported Cases in HCW                                           0.0
                     Newly Reported deaths in HCW                                          0.0
...                                                                                        ...
Sierra Leone 2014-10 new_negative                                                         15.0
                     new_noncase                                                          48.0
                     new_positive                                                         14.0
                     new_probable                                                          1.0
                     new_samples                                                          32.0
                     new_suspected                                                        12.0
             2014-11 etc_new_admission                                                     3.0
                     etc_new_deaths                                                        0.0
                     etc_new_discharges                                                    1.0
                     new_completed_contacts                                               86.0
                     new_confirmed                                                        42.0
                     new_contacts                                                        167.0
                     new_negative                                                         48.0
                     new_noncase                                                          57.0
                     new_positive                                                         26.0
                     new_probable                                                          0.0
                     new_samples                                                          83.0
                     new_suspected                                                        11.0
             2014-12 etc_new_admission                                                     1.0
                     etc_new_deaths                                                        0.0
                     etc_new_discharges                                                    0.0
                     new_completed_contacts                                               54.0
                     new_confirmed                                                         5.0
                     new_contacts                                                         57.0
                     new_negative                                                         11.0
                     new_noncase                                                          15.0
                     new_positive                                                          3.0
                     new_probable                                                          0.0
                     new_samples                                                          15.0
                     new_suspected                                                         1.0

[117 rows x 1 columns]