In [10]:
DATA_FOLDER = '../ADA2017-Tutorials/02 - Intro to Pandas/Data/'

## TASK 1: EBOLA DATA

In [11]:
EBOLA_FOLDER = DATA_FOLDER+'ebola/'

guinea = EBOLA_FOLDER+'guinea_data/'
liberia = EBOLA_FOLDER+'liberia_data/'
sl = EBOLA_FOLDER+'sl_data' #Sierra Leone

In [12]:
import pandas as pd
import os.path

In [13]:
def loadAllFile(FolderPath):
    data = pd.DataFrame()
    for f in os.listdir(FolderPath):
        file_path = os.path.join(FolderPath, f)
        file_data = pd.read_csv(file_path)
        data = data.append(file_data, ignore_index=True)
    return data

### Guinea

In [26]:
data_guinea = loadAllFile(guinea)

#data_guinea.dropna(axis=0, how='all', inplace=True) #Drop the rows where all of the elements are nan
#data_guinea.dropna(axis=1, how='all', inplace=True) #Drop the colomns where all of the elements are nan

data_guinea.shape

(714, 25)

In [27]:
data_guinea['Country'] = 'Guinea'

In [28]:
data_guinea.columns #change dtype to str and int

Index(['Beyla', 'Boffa', 'Conakry', 'Coyah', 'Dabola', 'Dalaba', 'Date',
       'Description', 'Dinguiraye', 'Dubreka', 'Forecariah', 'Gueckedou',
       'Kerouane', 'Kindia', 'Kissidougou', 'Kouroussa', 'Lola', 'Macenta',
       'Mzerekore', 'Nzerekore', 'Pita', 'Siguiri', 'Telimele', 'Totals',
       'Yomou', 'Country'],
      dtype='object')

In [29]:
data_guinea.Date.unique()

array(['2014-08-04', '2014-08-26', '2014-08-27', '2014-08-30',
       '2014-08-31', '2014-09-02', '2014-09-04', '2014-09-07',
       '2014-09-08', '2014-09-09', '2014-09-11', '2014-09-14',
       '2014-09-16', '2014-09-17', '2014-09-19', '2014-09-21',
       '2014-09-22', '2014-09-23', '2014-09-24', '2014-09-26',
       '2014-09-30', '2014-10-01'], dtype=object)

In [33]:
data_guinea.Totals.unique()

array([5, 0, 4, 9, 11, 133, 351, 495, 2, 228, 363, 31, 18, 13, 138, 89,
       161, 190, 52, 81, 7, 6, 220, 277, 21, 12, 8, 6309, 795, 5513, 772,
       785, 1235, '18', nan, '10', '28', '30', '141', '490', '661', '518',
       '5', '2', '292', '958', '66%', '0', '45', '26', '22', '87', '6',
       '997', '137', '7521', '1085', '1070', '6438', '9', '55', '1700',
       '12', '142', '499', '663', '294', '438', '80', '14', '999', '127',
       '7662', '1264', '1250', '6496', '58', '1719', '15', '24', '32',
       '533', '707', '560', '324', '468', '50', '82', '33', '1094', '21',
       '7734', '1251', '1173', '6504', '76', '41', '1858', '8', '29', '46',
       '36', '150', '563', '749', '642', '3', '337', '489', '65%', '99',
       '1113', '83', '1941', '11', '25', '49', '591', '790', '349', '501',
       '63%', '105', '1144', '8189', '1842', '1641', '31', '2018', '13',
       '17', '51', '151', '621', '823', '682', '368', '522', '61%', '103',
       '1191', '8746', '1978', '1707', '6797', '249', '16', '678', '861',
       '714', '4', '402', '557', '54', '102', '1256', '8840', '2162',
       '1868', '6851', '2236', '7', '683', '867', '747', '410', '565',
       '52', '92', '1272', '1', '9006', '2283', '2043', '6896', '38',
       '2274', '716', '899', '413', '568', '57', '108', '1244', '172',
       '9378', '2453', '2136', '6904', '47', '2333', '162', '743', '936',
       '787', '429', '595', '64%', '61', '84', '1294', '27', '9553',
       '2472', '2145', '7066', '48', '2373', '161', '771', '964', '442',
       '608', '66', '1348', '53', '10082', '2433', '2372', '7642', '2489',
       '788', '974', '838', '463', '630', '35', '1379', '182', '10383',
       '2346', '2267', '8036', '2505', '818', '1008', '465', '632', '67',
       '69', '1405', '10532', '2380', '2249', '8055', '2596', '19', '832',
       '1022', '635', '62%', '1418', '10561', '2364', '2307', '8100',
       '2609', '854', '1048', '476', '643', '1465', '64', '10591', '2362',
       '2004', '8132', '2665', '20', '876', '1074', '481', '648', '60%',
       '93', '1478', '297', '10885', '2295', '1967', '8480', '2710', '169',
       '902', '1103', '494', '668', '1500', '11404', '2656', '2598',
       '8747', '2760', '175', '961', '1169', '951', '539', '112', '1548',
       '11719', '2657', '2615', '9021', '2807', '34', '177', '977', '1199',
       '562', '739', '114', '1576', '11772', '2661', '2595', '9110', '2832'], dtype=object)

In [ ]:
data_guinea[data_guinea['Totals'].str.contain]

In [34]:
data_guinea.Description.unique()

array(['New cases of suspects', 'New cases of probables',
       'New cases of confirmed', 'Total new cases registered so far',
       'Total cases of suspects', 'Total cases of probables',
       'Total cases of confirmed',
       'Cumulative (confirmed + probable + suspects)',
       'New deaths registered today',
       'New deaths registered today (confirmed)',
       'New deaths registered today (probables)',
       'New deaths registered today (suspects)',
       'Total deaths of suspects', 'Total deaths of probables',
       'Total deaths of confirmed',
       'Total deaths (confirmed + probables + suspects)',
       'Total PEC center today', 'Total PEC center today (confirmed)',
       'Total PEC center today (probables)',
       'Total PEC center today (suspects)',
       'Total of deaths in confirmed cases in CTE',
       'Total of cured in confirmed cases in CTE',
       'Number of male confirmed cases',
       'Number of female confirmed cases',
       'Number of male probables cases',
       'Number of female probables cases', 'Number of male suspects cases',
       'Number of female suspects cases', 'Total number of male cases',
       'Total number of female cases',
       'Number of confirmed cases among health workers',
       'Number of deaths of confirmed cases among health workers',
       'Number of probables cases among health workers',
       'Number of deaths of probables cases among health workers',
       'Number of suspects cases among health workers',
       'Number of death of confirmed cases among health workers',
       'Total contacts registered from start date',
       'Number of contacts to follow today',
       'Number of contacts out of track',
       'Number of contacts followed yesterday',
       'Number of patients tested', 'Number of samples collected',
       'Total suspected non-class cases', 'New deaths registered',
       'Fatality rate for confirmed and probables',
       'New cases of confirmed among health workers',
       'Total case of confirmed among health workers',
       'New deaths registered among health workers',
       'Total deaths registered among health workers',
       'New admits to CTE so far',
       'Total number of hospitalized cases in CTE',
       'Total number of exits from CTE',
       'Total number of admissions to CTE',
       'New contacts registered so far',
       'Number of contacts followed today',
       'Number of contacts out of the track 21 days',
       'Number of contacts lost to follow up',
       'Number of samples collected today', 'Number of samples under test',
       'Total samples tested'], dtype=object)

In [18]:
data_guinea = data_guinea.set_index(['Country', 'Date'])

In [19]:
pd.set_option('display.max_columns', None)
data_guinea.describe() 
#Rq: Kindka & Beyla with decimal pricision, ..

,Beyla,Boffa,Conakry,Coyah,Dabola,Dalaba,Description,Dinguiraye,Dubreka,Forecariah,Gueckedou,Kerouane,Kindia,Kissidougou,Kouroussa,Lola,Macenta,Mzerekore,Nzerekore,Pita,Siguiri,Telimele,Totals,Yomou
count,65.0,495,633,381,522,245,714,519,499,431,644,380,147.0,519,495,20,638,358,163,496,496,519,712,460
unique,12.0,29,227,28,13,9,60,6,37,44,223,42,7.0,24,19,6,168,78,42,35,22,28,317,26
top,0.0,0,0,0,0,0,New cases of confirmed,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,0
freq,31.0,246,81,195,272,167,22,373,216,220,86,219,91.0,268,230,12,166,102,40,197,249,207,83,209

In [22]:
cols = ['Description','Totals']  + [col for col in data_guinea if col not in ['Description','Totals']]
data_guinea = data_guinea[cols] # reordering colomns

In [192]:
data_guinea.dropna(axis=0, how='all', inplace=True) #Drop the rows where all of the elements are nan
data_guinea.dropna(axis=1, how='all', inplace=True) #Drop the colomns where all of the elements are nan

data_guinea.shape

(714, 25)

### Liberia

In [221]:
data_liberia = loadAllFile(liberia)
data_liberia.shape

(3152, 19)

In [222]:
data_liberia.columns

Index(['Bomi County', 'Bong County', 'Date', 'Gbarpolu County', 'Grand Bassa',
       'Grand Cape Mount', 'Grand Gedeh', 'Grand Kru', 'Lofa County',
       'Margibi County', 'Maryland County', 'Montserrado County', 'National',
       'Nimba County', 'River Gee County', 'RiverCess County', 'Sinoe County',
       'Unnamed: 18', 'Variable'],
      dtype='object')

In [223]:
data_liberia['Variable']

0                                     Specimens collected
1                           Specimens pending for testing
2                                  Total specimens tested
3                                   Newly reported deaths
4                        Total death/s in confirmed cases
5                         Total death/s in probable cases
6                        Total death/s in suspected cases
7       Total death/s in confirmed, probable, suspecte...
8       Case Fatality Rate (CFR) - Confirmed & Probabl...
9                                 Newly reported contacts
10                                  Total contacts listed
11                              Currently under follow-up
12                                          Contacts seen
13                Contacts who completed 21 day follow-up
14                             Contacts lost to follow-up
15                                         New admissions
16                 Total no. currently in Treatment Units
17                                       Total discharges
18                         Cumulative admission/isolation
19                            Newly Reported Cases in HCW
20                             Cumulative cases among HCW
21                           Newly Reported deaths in HCW
22                            Cumulative deaths among HCW
23                                 New Case/s (Suspected)
24                                  New Case/s (Probable)
25                                 New case/s (confirmed)
26                                  Total suspected cases
27                                   Total probable cases
28                                  Total confirmed cases
29      Total Number of Confirmed Cases of Sierra Leon...
                              ...
3122                               Total specimens tested
3123                                Newly reported deaths
3124                     Total death/s in confirmed cases
3125                      Total death/s in probable cases
3126                     Total death/s in suspected cases
3127    Total death/s in confirmed, \n probable, suspe...
3128    Case Fatality Rate (CFR) - \n Confirmed & Prob...
3129                              Newly reported contacts
3130                                Total contacts listed
3131                            Currently under follow-up
3132                                        Contacts seen
3133           Contacts who completed 21 day \n follow-up
3134                           Contacts lost to follow-up
3135                                       New admissions
3136            Total no. currently in Treatment \n Units
3137                                     Total discharges
3138                       Cumulative admission/isolation
3139                          Newly Reported Cases in HCW
3140                           Cumulative cases among HCW
3141                         Newly Reported deaths in HCW
3142                          Cumulative deaths among HCW
3143                               New Case/s (Suspected)
3144                                New Case/s (Probable)
3145                               New case/s (confirmed)
3146                                Total suspected cases
3147                                 Total probable cases
3148                                Total confirmed cases
3149    Total Number of Confirmed Cases \n of Sierra L...
3150    Total Number of Confirmed Cases \n of Guinean ...
3151    Cumulative confirmed, probable and suspected c...
Name: Variable, Length: 3152, dtype: object

In [224]:
data_liberia.rename(columns={'Variable': 'Description'}, inplace=True)
data_liberia.rename(columns={'National': 'Totals'}, inplace=True)

In [225]:
data_liberia[data_liberia['Unnamed: 18'].isnull()==False]
#Same day, 3 observations results of creating 'Unnamed 18' colomn over 3152 other observations -> by looking into 2014-12-01.csv, comma is missing at the end of the row: suspect error (in shift)

,Bomi County,Bong County,Date,Gbarpolu County,Grand Bassa,Grand Cape Mount,Grand Gedeh,Grand Kru,Lofa County,Margibi County,Maryland County,Montserrado County,Totals,Nimba County,River Gee County,RiverCess County,Sinoe County,Unnamed: 18,Description
2887,0.0,3.0,12/1/2014,0.0,2.0,NaN,2.0,0.0,0.0,0.0,5.0,0.0,25.0,12.0,0.0,0.0,0.0,1.0,New Case/s (Suspected)
2888,0.0,0.0,12/1/2014,0.0,1.0,NaN,0.0,0.0,0.0,0.0,1.0,0.0,9.0,7.0,0.0,0.0,0.0,0.0,New Case/s (Probable)
2889,0.0,0.0,12/1/2014,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,New case/s (confirmed)

In [226]:
data_liberia.drop('Unnamed: 18', axis=1, inplace=True)

In [228]:
data_liberia[pd.notnull(data_liberia['Totals'])==False].describe()

,Bomi County,Bong County,Gbarpolu County,Grand Bassa,Grand Cape Mount,Grand Gedeh,Grand Kru,Lofa County,Margibi County,Maryland County,Montserrado County,Totals,Nimba County,River Gee County,RiverCess County,Sinoe County
count,2.000000,2.000000,2.0,2.000000,2.000000,2.0,2.0,3.000000,2.000000,2.000000,4.0,0.0,3.000000,5.000000,6.000000,5.000000
mean,3.500000,4.000000,0.0,1.000000,0.500000,0.0,0.0,5.666667,15.000000,8.500000,14.5,NaN,0.666667,2.400000,5.500000,4.600000
std,3.535534,5.656854,0.0,1.414214,0.707107,0.0,0.0,8.962886,21.213203,12.020815,29.0,NaN,1.154701,3.361547,6.625708,7.092249
min,1.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,NaN,0.000000,0.000000,0.000000,0.000000
25%,2.250000,2.000000,0.0,0.500000,0.250000,0.0,0.0,0.500000,7.500000,4.250000,0.0,NaN,0.000000,0.000000,0.000000,0.000000
50%,3.500000,4.000000,0.0,1.000000,0.500000,0.0,0.0,1.000000,15.000000,8.500000,0.0,NaN,0.000000,0.000000,4.000000,3.000000
75%,4.750000,6.000000,0.0,1.500000,0.750000,0.0,0.0,8.500000,22.500000,12.750000,14.5,NaN,1.000000,5.000000,8.750000,3.000000
max,6.000000,8.000000,0.0,2.000000,1.000000,0.0,0.0,16.000000,30.000000,17.000000,58.0,NaN,2.000000,7.000000,16.000000,17.000000

In [216]:
data_liberia = data_liberia[pd.notnull(data_liberia['Totals'])] # drop row if there is no information
data_liberia.shape

(2392, 18)

Empty DataFrame
Columns: [Bomi County, Bong County, Date, Gbarpolu County, Grand Bassa, Grand Cape Mount, Grand Gedeh, Grand Kru, Lofa County, Margibi County, Maryland County, Montserrado County, Totals, Nimba County, River Gee County, RiverCess County, Sinoe County, Description]
Index: []

In [217]:
data_liberia.describe()

,Bomi County,Bong County,Gbarpolu County,Grand Bassa,Grand Cape Mount,Grand Gedeh,Grand Kru,Lofa County,Margibi County,Maryland County,Montserrado County,Totals,Nimba County,River Gee County,RiverCess County,Sinoe County
count,2010.000000,2108.000000,1529.000000,1693.000000,1693.000000,1614.000000,1407.000000,2307.000000,2088.000000,1673.000000,2305.000000,2392.000000,2077.000000,1837.000000,1874.000000,1835.000000
mean,39.688159,55.051755,4.286462,22.238984,21.797165,1.422924,5.762118,90.644473,194.817864,8.967723,513.743861,928.429849,48.965094,2.086554,5.599626,5.525450
std,104.532547,140.781985,14.658828,54.218092,56.186787,5.480828,17.915287,173.079203,490.179010,120.714654,1306.774463,2278.894424,127.329883,5.355003,17.548798,16.051278
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,8.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,3.000000,0.000000,1.000000,1.000000,0.000000,0.000000,11.000000,2.000000,0.000000,24.000000,48.000000,0.000000,0.000000,0.000000,0.000000
75%,27.000000,31.000000,0.000000,18.000000,8.000000,0.000000,2.000000,93.000000,64.500000,1.000000,223.000000,441.000000,30.000000,1.000000,1.000000,1.000000
max,782.000000,1307.000000,121.000000,405.000000,410.000000,72.000000,344.000000,2145.000000,3036.000000,3175.000000,11299.000000,19155.000000,893.000000,100.000000,113.000000,102.000000